:root {
    --width-col:8.3333333333%;
}
.container{
    max-width: 900px;
    margin:auto;
  }
  
  .row{
    display: flex;
  }
  
  .col-1{
    width: var(--width-col);
  }
  .col-2{
    width: calc(var(--width-col)*2);
  }
  .col-3{
    width: calc(var(--width-col)*3);
  }
  .col-4{
    width: calc(var(--width-col)*4);
  }
  .col-5{
    width: calc(var(--width-col)*5);
  }
  .col-6{
    width: calc(var(--width-col)*6);
  }
  .col-7{
    width: calc(var(--width-col)*7);
  }
  .col-8{
    width: calc(var(--width-col)*8);
  }
  .col-9{
    width: calc(var(--width-col)*9);
  }
  .col-10{
    width: calc(var(--width-col)*10);
  }
  .col-11{
    width: calc(var(--width-col)*11);
  }
  .col-12{
    width: calc(var(--width-col)*12);
  }
  
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding: 10px;
  }
  
  @media (max-width: 900px) {
    .row{
      display: inherit;
    }
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
      width: 100%
    }
  }
  /* container > row > column */