:root {
    --width-col:8.3333333333%;
}
html, body {
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 900px;
    margin:auto;
  }
  
  .row{
    display: flex;
  }
  .row-center {
    display: flex;
}
  .container  H1 {
      font-size: 30px;
      margin-bottom: 50px;
      margin-left: 20px;
  }

  .container .descripcion_productos {
      font-size: 20px;
      text-align: left;
      padding: 20px;
  }
  .col-1{
    width: var(--width-col);
  }
  .col-2{
    width: calc(var(--width-col)*2);
  }
  .col-3{
    width: calc(var(--width-col)*3);
  }
  .col-4{
    width: calc(var(--width-col)*4);
  }
  .col-5{
    width: calc(var(--width-col)*5);
  }
  .col-6{
    width: calc(var(--width-col)*6);
  }
  .col-7{
    width: calc(var(--width-col)*7);
  }
  .col-8{
    width: calc(var(--width-col)*8);
  }
  .col-9{
    width: calc(var(--width-col)*9);
  }
  .col-10{
    width: calc(var(--width-col)*10);
  }
  .col-11{
    width: calc(var(--width-col)*11);
  }
  .col-12{
    width: calc(var(--width-col)*12);
  }
  
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding: 10px;
    display: flex;
    /* align-items: center; */
    /* border: 1px solid black; */

  }
  
  .col-3 img {
    width: 180px;
}
    .col-12 {
   height: 40px;

}

  @media (max-width: 900px) {
    html, body {
        padding: 0px;
        margin: 0px;
        font-size: var(--normal);
        font-family: Arial, Helvetica, sans-serif;
    }
    .row{
      display: inherit;
      flex-direction: column;
        
    }
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
      width: 100%;
      justify-content: center;
      margin-left: -10px;

    }
    .row-center {
        display: flex;
        flex-direction: column-reverse;
    }
    .container .descripcion_productos {
        margin: 2%;
        text-align: center;
  }
  .modulo_pago  {
    margin: 5px 20px 10px 20px;
  }

  }
