@media (max-width: 600px) {
git 
 
    .main__section {
        padding: 4%; 
        padding-top: 12%;
        font-size: 8px;
        padding-bottom: 0;
    }
    .products, .categories, .menciones__section, .content  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: auto;
        margin-top: 50px
}
    .categories__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .menciones__item {
        margin-top: 50px;
    }

    .footer {
        width: 100%;
    }
}