
:root {
    --blue-color:#4169e1;
    --white-color: #ffffff;
    --black-color: #000000;
    /* Tipografia */
    --normal:14px;

    /* border de tarjetas */
    --border:6px groove #000000;
}
html {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(-);
    /* background-color: black; */
}
body {
    width: 100%;
}

.contenedor_paypal {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.contenedor_paypal img {
    height: 80%;
    width: 250px;
}
.contenedor_paypal a {
    color: var(--blue-color);

}

/* 6 FOOTER */
.footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-color);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    color: var(--white-color);
    

}
.footer p {
    margin: 10px 30px 10px 30px;
    color: var(--white-color);
    font-size: var(--normal);

    
}
